services:
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    restart: always

  vaillant-poller:
    image: timsummertonbrier/vaillant-poller
    env_file: $HOME/vaillant-poller-secrets.env
    environment:
      - VAILLANT_POLL_DELAY_SECONDS=300
      - VAILLANT_LOCAL_STORAGE_PATH=/local-storage
      - VAILLANT_NUM_DAILY_SYSTEM_DUMPS_TO_KEEP=100
      - VAILLANT_CONSUMPTION_LOOKBACK_DAYS=30
    volumes:
      - $HOME/vaillant-poller-storage:/local-storage
    ports:
      - 9200:9200
    restart: always

  chores:
    image: timsummertonbrier/chores
    env_file: $HOME/chores-secrets.env
    environment:
      - MICRONAUT_SERVER_CONTEXT_PATH=/chores
      - MICRONAUT_ENVIRONMENTS=raspberrypi
      - APP_LOG_FILE_LOCATION=/local-storage/logs
      - STATIC_RESOURCE_PATH=/local-storage/static-resources
    volumes:
      - $HOME/chores-storage:/local-storage
    ports:
      - 8080:8080
    restart: always

  prometheus:
    image: prom/prometheus
    command:
      - '--config.file=/home/prometheus.yml'
      - '--web.external-url=http://localhost:9090/prometheus/'
      - '--storage.tsdb.retention.time=10y'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./prometheus.yml:/home/prometheus.yml
      - $HOME/prometheus-storage:/prometheus
    ports:
      - 9090:9090
    restart: always

  prometheus-node-exporter:
    image: prom/node-exporter
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    volumes:
      - '/:/host:ro,rslave'
    restart: always
